.date-picker {
    width: 100px;
    padding: 10px 16px 10px 40px;
    background: url(/calendar.svg) no-repeat 10px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
}