.header-bar {
    position: sticky;
    top: 0;
    background-color: #1DA1F2;
    color: white;
    padding: 0px 10px;
    align-content: center;
    height: 60px;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    z-index: 999;
}
  