
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$employee-list-app-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($employee-list-app-theme);
  @include mat.button-overrides((    
    label-text-color: white,
    container-color: #1DA1F2
  ));  
  @include mat.dialog-overrides((
    
  ))
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($employee-list-app-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($employee-list-app-theme);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: inherit;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-calendar-body-label
{
  visibility: hidden;
}
.mat-calendar-body-label[colspan="7"]
{
  display: none;
}
.mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 16px;
  --mdc-filled-button-container-shape: 5px;
}
.mat-calendar-body-selected {
 --mat-datepicker-calendar-date-selected-state-background-color: #1DA1F2;
}